
doxygen/*

naf

Rlibrary/naf*

*.pdf

*.pdf

*.out

*.gz

*.aux

*.log

*.toc

Rlibrary/Rplots.pdf

*.bbl

*.blg

*.zip

Documentation/figures/*.key/Data/*

Documentation/slides/*

data/households/Generic_98-313-XCB2011022.xml

data/households/Structure_98-313-XCB2011022.xml

*.RData

simul/out-fit.txt

simul/out.txt

simul/.Rhistory

simul/out-ana.txt

simul/out-cmp.txt

simul/out-sim.txt

simul/out.txt

fit/out-fit.txt

simul/out-multiscen.txt

simul/~$scenario-builder.xlsm

data/frailty/~$chronic-diseases-canada.xlsx

param-model/~$_all_param_value_source.xlsx

fit/out.txt

fit/out-fitR.txt

~$_checkllist.xlsx

data/publicTransport/~$TTC 2013.xlsx

data/publicTransport/~$TTC 2013.xlsx

data/frailty/~$deaths_age-groups_week_2012-13_deces_groupe-age_semaine-eng.xlsx

data/frailty/~$hosp-death-rate-converter.xlsx

data/frailty/~$hospitalizations_age-groups_week_2012-13_hospitalisations_groupe-age_semaine-eng.xlsx

*.sh

~$__cpttime.xlsx

data/frailty/ontario/~$ontario-influenza-hosp-death.xlsx

data/frailty/~$hospitalizations_age-groups_week_2012-13_hospitalisations_groupe-age_semaine-eng.xlsx

simul/rdata/.Rapp.history
